Repository confluentinc/librdkafka: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

testing commit 1
  .semaphore/run-k2-tests.yml
Due: none

testing commit 2
  .semaphore/run-k2-tests.yml
Due: none

test commit 3
  .semaphore/run-k2-tests.yml
Due: none

test 5
  .semaphore/run-k2-tests.yml
Due: none

Use semaphore-integration.yml for additional status checks
  service.yml
Due: none

adding kubeconfig
  .semaphore/run-k2-tests.yml
Due: none

test 6
  .semaphore/run-k2-tests.yml
Due: none

change 6
  .semaphore/run-k2-tests.yml
Due: none

fixes
  .semaphore/run-k2-tests.yml
Due: none

small fix
  .semaphore/run-k2-tests.yml
Due: none

link change
  .semaphore/run-k2-tests.yml
Due: none

small change
  .semaphore/run-k2-tests.yml
Due: none

style
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

correct style fix
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Don't return negative offset lags except for -1 when -1001 is the high watermark (#406)
  CHANGELOG.md
  lib/kafkajs/_consumer.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Variable values queried based on time range and other selected values
  stats-dashboard/dashboards/librdkafka-dashboard.json
Due: none

Changed default time range
  stats-dashboard/dashboards/librdkafka-dashboard.json
Due: none

replication factor fixes
  tests/0022-consume_batch.c
  tests/0033-regex_subscribe.c
Due: none

GC test fixes
  tests/0113-cooperative_rebalance.cpp
  tests/0129-fetch_aborted_msgs.c
Due: none

Segregate acquired records and implement basic implicit acknowledgement
  src/rdkafka_fetcher.c
  src/rdkafka_msgset.h
  src/rdkafka_msgset_reader.c
  src/rdkafka_partition.c
  src/rdkafka_partition.h
  tests/0172-share_consumer_behaviour.c
  tests/CMakeLists.txt
  tests/logs.csv
  tests/test.c
  win32/tests/tests.vcxproj
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

accept both type of errors
  tests/0081-admin.c
Due: none

remove log file
  tests/logs.csv
Due: none

Remove unnecessary kubeconfig setup steps from Semaphore configuration
  .semaphore/run-k2-tests.yml
Due: none

Use semaphore-integration.yml for additional status checks (#5254)
  service.yml
Due: none

Add ability to use old version
  src/rdkafka_feature.c
  tests/requirements.txt
  tests/run-tests-confluent-kafka.py
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

v1.7.0-rc1 (#409)
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Add test for Issue #4142: Prevent segfault on rd_kafka_new() failure with interceptors
  tests/0064-interceptors.c
Due: none

style fixes
  tests/0064-interceptors.c
  tests/0154-ssl_hostname_normalize.c
Due: none

small formatting changes
  src/rdkafka.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

v1.7.0 (#410)
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Minor update to README to remove Early Access description (#411)
  schemaregistry/README.md
Due: (SR) Linux amd64: test, e2e

Export CelExecutor/CelFieldExecutor in index.ts (#412)
  schemaregistry/index.ts
Due: (SR) Linux amd64: test, e2e

Reinstate kubeconfig setup steps in Semaphore configuration for clarity
  .semaphore/run-k2-tests.yml
Due: none

Remove test.skip.numbers functionality and related code from tests. Update example configuration to reflect this change.
  tests/test.c
  tests/test.conf.example
  tests/testshared.h
Due: none

Remove unused test file 0154-ssl_hostname_normalize.c
  tests/0154-ssl_hostname_normalize.c
Due: none

Remove idempotent producer test skipping logic from producer latency tests and update example configuration accordingly.
  tests/0055-producer_latency.c
  tests/test.c
  tests/test.conf.example
Due: none

FIX: Issue 4142 (segmentation fault that occurs when`on_conf_destroy`) (#5240)
  src/rdkafka.c
  tests/0064-interceptors.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add fields to op
  src/rdkafka_op.c
  src/rdkafka_op.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance
