Repository confluentinc/librdkafka: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

remove a test
  tests/0171-share_consumer_consume.c
Due: none

Fix timer bug
  src/rdkafka.c
  src/rdkafka_cgrp.c
  src/rdkafka_cgrp.h
  src/rdkafka_op.c
  src/rdkafka_op.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

remove unnecessary response empty buffer parsing
  src/rdkafka_admin.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Update Acl apis to v2
  src/rdkafka_admin.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Requested changes
  INTRODUCTION.md
  src/rdkafka_admin.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Removed use of rd_kafka_buf_write_kstr
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Remove version check for writing and reading empty tags
  src/rdkafka_admin.c
  src/rdkafka_broker.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Upgrade apis to first flexible version
  INTRODUCTION.md
  src/rdkafka_admin.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Style fix
  src/rdkafka_admin.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

style change
  src/rdkafka_admin.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Revert some styling change
  src/rdkafka_admin.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Remove version checking for empty buffer read/write
  src/rdkafka_admin.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Remove unwanted change
  INTRODUCTION.md
Due: none

Requested changes
  CHANGELOG.md
  src/rdkafka_admin.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Added k1 procedure
  .semaphore/run-tests-cloud.yml
Due: none

add debug
  .semaphore/run-tests-cloud.yml
Due: none

make error
  .semaphore/run-tests-cloud.yml
Due: none

Formatting Changes
  .semaphore/run-tests-cloud.yml
Due: none

formatting
  .semaphore/run-tests-cloud.yml
Due: none

changes for fips 140-3 testing
  tests/0155-ssl_cipher_fips.c
  tests/CMakeLists.txt
  tests/Makefile
  tests/broker_version_tests.py
  tests/test.c
Due: none

modify flag for -ve test
  tests/test.c
Due: none

revert the changes
  tests/0055-producer_latency.c
  tests/test.c
  tests/test.conf.example
  tests/testshared.h
Due: none

added idempotent skip
  .semaphore/run-tests-cloud.yml
Due: none

remove offset management from assignment serve
  src/rdkafka_assignment.c
  src/rdkafka_cgrp.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

remove unnecessary print statements
  src/rdkafka_cgrp.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

config changes
  .semaphore/run-tests-cloud.yml
Due: none

Configurable repo url
  .semaphore/verify-linux-packages.yml
  packaging/cp/verify-packages.sh
  service.yml
Due: none

pull: missing
  packaging/cp/verify-packages.sh
Due: none

debug print version
  tests/0001-multiobj.c
Due: none

added versioning
  .semaphore/run-tests-cloud.yml
Due: none

[KIP 482]: Upgrade ACL APis to Version 2 (First flexible version) (#5081)
  INTRODUCTION.md
  src/rdkafka_admin.c
  src/rdkafka_broker.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Generate v1.8.0-rc1 release
  CHANGELOG.md
  README.md
  lib/error.js
  lib/util.js
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

[KIP-482] Upgrade five Admin Apis to flexible versions (#5083)
  CHANGELOG.md
  INTRODUCTION.md
  src/rdkafka_admin.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

remove pkcs12 scenario from tc
  tests/0097-ssl_verify.cpp
Due: none

specify version of CE kafka in make ssl
  tests/Makefile
Due: none

assignor: fix rd_list destroy callback type mismatch (#5195)
  src/rdkafka_assignor.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Adding more TODO and started using rd_kafka_share_new instead of rd_kafka_new
  examples/consumer.c
  src/rdkafka_broker.c
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Support BoringSSL
  src/rdkafka.h
  src/rdkafka_admin.c
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
