Repository confluentinc/librdkafka: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

Run CI on PRs from all branches (#5241)
  .semaphore/semaphore-integration.yml
  .semaphore/semaphore.yml
  CHANGELOG.md
  service.yml
  src/rdkafka_ssl.c
  tests/0154-ssl_hostname_normalize.c
  tests/test.c
  win32/tests/tests.vcxproj
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Grafana dashboard for librdkafka statistics
  stats-dashboard/.gitignore
  stats-dashboard/Dockerfile
  stats-dashboard/README.md
  stats-dashboard/data/grafana.db
  stats-dashboard/data/grafana.ini
  stats-dashboard/img/stats-dashboard.png
  stats-dashboard/logs_to_sqlite.py
  stats-dashboard/open_dashboard.py
  stats-dashboard/run.sh
Due: none

Add broker RTT, int_latency, outbuf_latency, connects, disconnects
  stats-dashboard/data/grafana.db
  stats-dashboard/run.sh
Due: none

Use Prometheus for storing and querying the metrics instead of SQLite
  stats-dashboard/Dockerfile
  stats-dashboard/README.md
  stats-dashboard/conf/grafana.ini
  stats-dashboard/dashboards/librdkafka-dashboard.json
  stats-dashboard/data/grafana.db
  stats-dashboard/docker-compose.yml
  stats-dashboard/img/stats-dashboard.png
  stats-dashboard/logs_to_sqlite.py
  stats-dashboard/open_dashboard.py
  stats-dashboard/provisioning/dashboards/dashboards.yaml
  stats-dashboard/provisioning/datasources/victoriametrics.yaml
  stats-dashboard/requirements.txt
  stats-dashboard/run.py
  stats-dashboard/run.sh
  stats-dashboard/victoriametrics/prometheus.yml
Due: none

New metrics, add index
  stats-dashboard/data/grafana.db
  stats-dashboard/logs_to_sqlite.py
Due: none

Add node parameter to group by metrics when coming from different nodes (for example different Kubernetes pods)
  stats-dashboard/dashboards/librdkafka-dashboard.json
  stats-dashboard/docker-compose.yml
  stats-dashboard/img/stats-dashboard.png
  stats-dashboard/run.py
Due: none

accept both type of errors
  tests/0081-admin.c
Due: none

Improve refcount debugging for toppar destroy
  src/rdkafka_partition.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Implicitly acknowledge all batches instead of just the first batch which was done just to make initial basic share fetch work.
  examples/consumer.c
  src/rdkafka_fetcher.c
  src/rdkafka_msgset_reader.c
  src/rdkafka_partition.c
  src/rdkafka_partition.h
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Call sharegroupheartbeat when leaving group
  src/rdkafka_cgrp.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Call sharegroupheartbeat when leaving group (#5247)
  src/rdkafka_cgrp.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Improve acknowledgement to include all batches instead of just the last batch
  examples/consumer.c
  src/rdkafka_fetcher.c
  src/rdkafka_msgset_reader.c
  src/rdkafka_partition.c
  src/rdkafka_partition.h
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix refcount issue with session partition management
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Added Share partition level operations
  src/rdkafka_op.c
  src/rdkafka_op.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

toppars in session and memory fix related to freeing Error Message
  examples/consumer.c
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Improve ref counting and ref counting for toppars
  src/rd.h
  src/rdkafka_partition.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add session leave. Not working properly. Improve this.
  src/rdkafka.c
  src/rdkafka_broker.c
  src/rdkafka_fetcher.h
  src/rdkafka_op.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Working with session partition management
  src/rdkafka.c
  src/rdkafka_broker.c
  src/rdkafka_broker.h
  src/rdkafka_cgrp.c
  src/rdkafka_fetcher.c
  src/rdkafka_partition.c
  src/rdkafka_partition.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Improve consumer printing
  examples/consumer.c
Due: none

Add session partition information
  src/rdkafka_broker.c
  src/rdkafka_broker.h
  src/rdkafka_partition.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Deduplicated partition management.
  examples/consumer.c
  src/rdkafka_broker.c
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Upgraded LeaveGroup API from version 1 to version 3
  src/rdkafka_cgrp.c
  src/rdkafka_request.c
  src/rdkafka_request.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

minor fix and formatting issues
  src/rdkafka_cgrp.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

DGS-22899 Fix support for wrapped Avro unions (#402)
  schemaregistry/serde/avro.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix partition acknowledgement not being sent as it was referring to the wrong TAILQ link
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

More debug logging
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fixed the issue in leavegroup, and upgraded mock implementation also
  src/rdkafka_cgrp.c
  src/rdkafka_mock_handlers.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Upgraded LeaveGroup from version 3 to version 4
  src/rdkafka_cgrp.c
  src/rdkafka_mock_handlers.c
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

style fixes
  src/rdkafka_cgrp.c
  src/rdkafka_mock_handlers.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix incorrectly adding partitions to send in ShareFetch request even if there are no acknowledgement to send for the partition already added to the session
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix incorrectly parsing ShareFetch Response if MessageSetSize was 0
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix incorrectly assigning memory to rktp_share_acknowledge even if AcquiredRecordsArrayCnt is 0
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

nit: correct naming for partitions being sent to the ShareFetch request
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

added tests
  tests/0154-share_consumer.c
Due: none

Added more tests
  tests/0154-share_consumer.c
Due: none

Replace experimental sort_by_label with sort_desc
  stats-dashboard/dashboards/librdkafka-dashboard.json
Due: none

hardcoded provider config and added -ve test case for fips testing
  src/rdkafka.c
  tests/CMakeLists.txt
  tests/test.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
