Repository confluentinc/librdkafka: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests

replication factor fixes
  tests/0022-consume_batch.c
  tests/0033-regex_subscribe.c
Due: none

wip
  CHANGELOG.md
  src/rdkafka_ssl.c
  tests/0137-ssl_hostname_trailing_dot.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fix
  CHANGELOG.md
  src/rdkafka_ssl.c
  tests/0154-ssl_hostname_trailing_dot.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

update
  src/rdkafka_ssl.c
  tests/0154-ssl_hostname_normalize.c
  tests/0154-ssl_hostname_trailing_dot.c
  tests/test.c
  win32/tests/tests.vcxproj
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

fix
  CHANGELOG.md
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Strip trailing dot of hostname to fix SSL certificate verification issue (#5231)
  CHANGELOG.md
  src/rdkafka_ssl.c
  tests/0154-ssl_hostname_normalize.c
  tests/test.c
  win32/tests/tests.vcxproj
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix building without curl
  src/rdkafka_conf.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix timer bug
  src/rdkafka.c
  src/rdkafka_cgrp.c
  src/rdkafka_cgrp.h
  src/rdkafka_op.c
  src/rdkafka_op.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add SASL Kerberos domain override for service principal
  CONFIGURATION.md
  src/rdkafka_conf.c
  src/rdkafka_sasl_cyrus.c
  src/rdkafka_sasl_win32.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Grafana dashboard for librdkafka statistics
  stats-dashboard/.gitignore
  stats-dashboard/Dockerfile
  stats-dashboard/README.md
  stats-dashboard/data/grafana.db
  stats-dashboard/data/grafana.ini
  stats-dashboard/img/stats-dashboard.png
  stats-dashboard/logs_to_sqlite.py
  stats-dashboard/open_dashboard.py
  stats-dashboard/run.sh
Due: none

Add broker RTT, int_latency, outbuf_latency, connects, disconnects
  stats-dashboard/data/grafana.db
  stats-dashboard/run.sh
Due: none

New metrics, add index
  stats-dashboard/data/grafana.db
  stats-dashboard/logs_to_sqlite.py
Due: none

DGS-22077 Handle evolution during field transformation (#396)
  package-lock.json
  schemaregistry/package.json
  schemaregistry/rest-service.ts
  schemaregistry/rules/cel/cel-executor.ts
  schemaregistry/serde/avro.ts
  schemaregistry/test/serde/avro.spec.ts
Due: (SR) Linux amd64: test, e2e

Fix support for host name validation using ip on openssl versions <= 1.1.1
  CHANGELOG.md
  src/rdkafka_ssl.c
  tests/0154-ssl_hostname_normalize.c
  tests/test.c
  win32/tests/tests.vcxproj
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Support librdkafka on Alpine arm64
  packaging/nuget/nugetpackage.py
Due: none

Fix support for host name validation using ip on openssl versions <= 1.1.1
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Stats callback in promisified api (#399)
  CHANGELOG.md
  lib/kafkajs/_admin.js
  lib/kafkajs/_consumer.js
  lib/kafkajs/_producer.js
  src/admin.cc
  src/connection.cc
  src/connection.h
  src/producer.cc
  src/producer.h
  test/promisified/admin/statsCallback.spec.js
  test/promisified/consumer/statsCallback.spec.js
  test/promisified/producer/statsCallback.spec.js
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Use Prometheus for storing and querying the metrics instead of SQLite
  stats-dashboard/Dockerfile
  stats-dashboard/README.md
  stats-dashboard/conf/grafana.ini
  stats-dashboard/dashboards/librdkafka-dashboard.json
  stats-dashboard/data/grafana.db
  stats-dashboard/docker-compose.yml
  stats-dashboard/img/stats-dashboard.png
  stats-dashboard/logs_to_sqlite.py
  stats-dashboard/open_dashboard.py
  stats-dashboard/provisioning/dashboards/dashboards.yaml
  stats-dashboard/provisioning/datasources/victoriametrics.yaml
  stats-dashboard/requirements.txt
  stats-dashboard/run.py
  stats-dashboard/run.sh
  stats-dashboard/victoriametrics/prometheus.yml
Due: none

update
  src/rdkafka_ssl.c
  tests/0154-ssl_hostname_normalize.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

GC test fixes
  tests/0113-cooperative_rebalance.cpp
  tests/0129-fetch_aborted_msgs.c
Due: none

Add test for Issue #4142: Prevent segfault on rd_kafka_new() failure with interceptors
  tests/0064-interceptors.c
Due: none

style fix
  tests/0137-barrier_batch_consume.c
  tests/0154-ssl_hostname_normalize.c
Due: none

Style fix 2
  src/rdkafka_queue.c
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Revert "Strip trailing dot of hostname to fix SSL certificate verification issue (#5231)"
  CHANGELOG.md
  src/rdkafka_ssl.c
  tests/0154-ssl_hostname_normalize.c
  tests/test.c
  win32/tests/tests.vcxproj
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Semaphore changes to run the CI on PRs even if the branch doesn't match the name dev_
  service.yml
Due: none

Change pipeline names
  .semaphore/semaphore-integration.yml
  .semaphore/semaphore.yml
Due: none

Use find_package to find SASL2 library
  CMakeLists.txt
Due: none

move to unit test
  tests/0154-ssl_hostname_normalize.c
Due: none

update
  src/rdkafka_ssl.c
  src/rdunittest.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

cleanup
  tests/test.c
  win32/tests/tests.vcxproj
Due: none

v1.7.0-alpha.0 (#400)
  CHANGELOG.md
  README.md
  lib/error.js
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
  types/config.d.ts
  types/errors.d.ts
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

1.7.0-alpha.1: Updated lockfile with Node 24 (#401)
  lib/util.js
  package-lock.json
  package.json
  schemaregistry/package.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Fix parenthesis
  src/rdkafka_sasl_cyrus.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

replication factor change
  tests/0022-consume_batch.c
  tests/0033-regex_subscribe.c
Due: none

Call sharegroupheartbeat when leaving group
  src/rdkafka_cgrp.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

added tests
  tests/0154-share_consumer.c
Due: none

Add node parameter to group by metrics when coming from different nodes (for example different Kubernetes pods)
  stats-dashboard/dashboards/librdkafka-dashboard.json
  stats-dashboard/docker-compose.yml
  stats-dashboard/img/stats-dashboard.png
  stats-dashboard/run.py
Due: none
