Repository confluentinc/librdkafka: changes, and which Semaphore blocks are due for each by the changed paths.
All: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, (SR) Linux amd64: test, e2e, Linux amd64: Performance

Linux amd64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux arm64 (musl): Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-arm64-1
  prologue:
    commands:
    - '[[ -z $DOCKERHUB_APIKEY ]] || docker login --username $DOCKERHUB_USER --password $DOCKERHUB_APIKEY'
  jobs:
  - name: Build from source and test for musl
    commands:
  ...

Linux amd64: Build and test:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

macOS arm64/m1: Build and test:
  agent:
    machine:
      type: s1-macos-15-arm64-8
  jobs:
  - name: Build from source and test
    commands:
    - export CKJS_LINKING=dynamic
    - npm run install-from-source
    - make test

(SR) Linux amd64: test, e2e:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-1
  prologue:
    commands:
    - npm install
    - cd schemaregistry
  jobs:
  - name: Test
    commands:
    - npm run test || npm run test || npm run test
    - artifact push workflow coverage/jest/coverage-final.json --destination "jest-sr-coverage.json"
  ...

Linux amd64: Performance:
  agent:
    machine:
      type: s1-prod-ubuntu24-04-amd64-3
  env_vars:
  - name: TARGET_PRODUCE_PERFORMANCE
    value: '35'
  - name: TARGET_CONSUME_PERFORMANCE
    value: '18'
  - name: TARGET_CTP_PERFORMANCE
    value: '0.02'
  prologue:
    commands:
    - export DEBIAN_FRONTEND=noninteractive
  ...

Lock topic partition when reading leader epoch while fetching topic partitions
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Implement persistent connection failure tracking and DNS re-resolution on authentication errors
  src/rdkafka.c
  src/rdkafka.h
  src/rdkafka_broker.c
  src/rdkafka_broker.h
  src/rdkafka_conf.c
  src/rdkafka_conf.h
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add reconnect.failure.report.ms configuration and unit tests for persistent failure tracking
  CONFIGURATION.md
  src/rdkafka_broker.c
  tests/0154-persistent_broker_failure.c
  tests/CMakeLists.txt
  tests/test.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Update Semaphore test configuration to correct Confluent CLI login command by changing organization ID flag for improved authentication.
  .semaphore/run-k2-tests.yml
Due: none

change in org
  .semaphore/run-k2-tests.yml
Due: none

removed
  .semaphore/run-k2-tests.yml
Due: none

update
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

style fix;
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

remove endif/
  src/rdkafka_ssl.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Strip trailing dot of hostname to fix SSL certificate verification issue (correct setup w/ unit test) (#5253)
  src/rdkafka_ssl.c
  src/rdunittest.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

added K2/K1
  .semaphore/run-k2-tests.yml
Due: none

removed the other stuff
  .semaphore/run-k2-tests.yml
Due: none

new cc cloud acc
  .semaphore/run-k2-tests.yml
Due: none

cli
  .semaphore/run-k2-tests.yml
Due: none

minor
  .semaphore/run-k2-tests.yml
Due: none

added new acc
  .semaphore/run-k2-tests.yml
Due: none

Bump version to 2.13.0 for the RC1
  CHANGELOG.md
  src-cpp/rdkafkacpp.h
  src/rdkafka.h
  vcpkg.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Add Semaphore configuration for cloud integration testing
  .semaphore/run-tests-cloud.yml
Due: none

Bump version to 2.13.0 for the RC1 (#5269)
  CHANGELOG.md
  src-cpp/rdkafkacpp.h
  src/rdkafka.h
  vcpkg.json
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

trying with different url
  .semaphore/run-k2-tests.yml
Due: none

change in cred
  .semaphore/run-k2-tests.yml
Due: none

added NJC creds
  .semaphore/run-k2-tests.yml
Due: none

bug
  .semaphore/run-k2-tests.yml
Due: none

Minor improvement ot rule failure message (#419)
  schemaregistry/serde/serde.ts
Due: (SR) Linux amd64: test, e2e

small changes
  .semaphore/run-tests-cloud.yml
Due: none

small fix
  .semaphore/run-tests-cloud.yml
Due: none

display test.conf
  .semaphore/run-tests-cloud.yml
Due: none

Refactor Semaphore test execution command: remove sleep and streamline kubectl command for running librdkafka tests.
  .semaphore/run-tests-cloud.yml
Due: none

comment out pod del
  .semaphore/run-tests-cloud.yml
Due: none

nit: correct naming for partitions being sent to the ShareFetch request
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix partition acknowledgement not being sent as it was referring to the wrong TAILQ link
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix incorrectly assigning memory to rktp_share_acknowledge even if AcquiredRecordsArrayCnt is 0
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Improve acknowledgement to include all batches instead of just the last batch
  examples/consumer.c
  src/rdkafka_fetcher.c
  src/rdkafka_msgset_reader.c
  src/rdkafka_partition.c
  src/rdkafka_partition.h
  src/rdkafka_request.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

More debug logging
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix incorrectly adding partitions to send in ShareFetch request even if there are no acknowledgement to send for the partition already added to the session
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Fix incorrectly parsing ShareFetch Response if MessageSetSize was 0
  src/rdkafka_fetcher.c
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Improve consumer printing
  examples/consumer.c
Due: none

Added unit tests and integration tests for testing GAP acknowledgement
  src/Makefile
  src/rdkafka_fetcher.c
  src/rdkafka_fetcher.h
  src/rdkafka_msgset.h
  src/rdkafka_msgset_reader.c
  src/rdkafka_partition.c
  src/rdkafka_partition.h
  src/rdunittest.c
  src/rdunittest_fetcher.c
  tests/0172-share_consumer_behaviour.c
  tests/CMakeLists.txt
  tests/test.c
  win32/tests/tests.vcxproj
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Segregate acquired records and add unit tests and integ tests
  src/Makefile
  src/rdkafka_fetcher.c
  src/rdkafka_fetcher.h
  src/rdkafka_msgset.h
  src/rdkafka_msgset_reader.c
  src/rdkafka_partition.c
  src/rdkafka_partition.h
  src/rdunittest.c
  src/rdunittest_fetcher.c
  tests/0172-share_consumer_behaviour.c
  tests/CMakeLists.txt
  tests/test.c
  win32/tests/tests.vcxproj
Due: Linux amd64 (musl): Build and test, Linux arm64 (musl): Build and test, Linux amd64: Build and test, macOS arm64/m1: Build and test, Linux amd64: Performance

Added integration tests for testing various scenarios
  tests/0154-share_consumer.c
  tests/0170-share_consumer_subscription.c
  tests/0171-share_consumer_consume.c
  tests/CMakeLists.txt
  tests/test.c
  win32/tests/tests.vcxproj
Due: none

Path conditions:
  Linux amd64 (musl): Build and test: any of: package.json, lib, src, test
  Linux arm64 (musl): Build and test: any of: package.json, lib, src, test
  Linux amd64: Build and test: any of: package.json, lib, src, test
  macOS arm64/m1: Build and test: any of: package.json, lib, src, test
  (SR) Linux amd64: test, e2e: any of: package.json, schemaregistry, schemaregistry-examples, proto
  Linux amd64: Performance: any of: package.json, lib, src, ci/tests
